<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imcore.admintemplate.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.imcore.admintemplate.model.bo.SysRole">
    <result column="id" property="id" />
    <result column="created_on" property="createdOn" />
    <result column="updated_on" property="updatedOn" />
        <result column="role_name" property="roleName" />
        <result column="code" property="code" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        created_on,
        updated_on,
        role_name,
        code,
        remark
    </sql>
    <select id="selectList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from sys_role
        where code != 'super_admin'
        order by created_on desc
    </select>
    <select id="selectByCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from sys_role where code = #{code}
    </select>

</mapper>
